$background:#f5f4f9;
$primary-color:#5c5776;
$default-color:#18113c;
$border: #ededf5;
$muted:#a8a3b0;
$shadow: 0 8px 12px rgba(92 ,89 ,143 , 0.3);
$shadow-two: 0 16px 32px 0 rgba(7, 28, 31, 0.1);

$bg-section: #f2f6f7;
$bg-last: #282b38;
$green-color: #0a9a73;
$green-light: #0a9a73;
$heading-color: #071c1f;
$footer-dark: #171b2a;
$p-color: #5c727d;
$red-color: #cb3421;

$star-rate: #ffb800;
$main-border-color: #e5eaee;

